.center-screen {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100vh;           /* full screen height */
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* takes full height for centering */
}

.center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 10px;
}
